.Block {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    & > div {
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0% 50%, rgba(0, 0, 0, 0.1) 50%) 0 0 / 100% 100%,
                    linear-gradient(45deg, rgba(0, 0, 0, 0.2) 0% 50%, rgba(255, 255, 255, 0.3) 50%) 0 0 / 100% 100%;
        border-radius: 5px;
    }
}

.type_0 {
    transform: rotate(180deg);
    opacity: 0.05;
    background: transparent;
}

.type_S, .type_DS { background-color: aqua; }
.type_I, .type_DI { background-color: deeppink; }
.type_Z, .type_DZ { background-color: rgb(255, 157, 0); }
.type_L, .type_DL { background-color: yellow; }
.type_O, .type_DO { background-color: mediumorchid; }
.type_J, .type_DJ { background-color: springgreen; }
.type_T, .type_DT { background-color: azure; }

.type_DS, .type_DI, .type_DZ, .type_DL, .type_DO, .type_DJ, .type_DT  {
    animation: destroyAnim 0.4s linear;
}

@keyframes destroyAnim {
    to {
        opacity: 0.2;
        transform: scale(0.5) rotate(180deg);
        border-radius: 30px;
        background-color: red;
    }
}